.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn {
    width: 100%;
  }

  .background {
    background-image: url('https://tse3.mm.bing.net/th/id/OIP.IgXSSudCGNqIMabcHEZbZQHaF-?rs=1&pid=ImgDetMain');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    height: 100vh; /* Ensures it covers the entire viewport height */
  }